#me	{
	width:150px;
	height:150px;
	border:1px silver solid;
	border-radius:10%;
	display:inline;
	float:left;
	opacity:0.9;
}

#share	{
	margin-top:20px;
}

body	{
	background-position:center;
	background-repeat:no-repeat;
}

.toolbar	{
	display:block;
	margin:50px 10px 0px 0px;
}

.toolitem	{
	display:block;
	padding:0px 0px 40px 10px;
}


canvas	{
	border:thin black solid;
	margin:20px 0px 0px 13px;
}

#upperCanvas	{
	z-index:1;
	display:inline;
	position:absolute;
}

.lowerCanvas	{
	z-index:-1;
	display:inline;
	position:absolute;
	visibility:visible;
	background-color:white;
}


button	{
	width:50px;
	height:50px;
}

.auto-style1 {
	font-family: Arial, Helvetica, sans-serif;
	color: #35485B;
}

#top	{
	height:155px;
	border-bottom:thin silver solid;
}

#head	{
	display:inline-block;
	margin-left:50px;
	padding-bottom:1px;
	float:right;
}

#head1	{
	display:inline;
	margin:0px 0px 0px 10px;
}


#leftbar {
    float:left;
    display:inline;
    border-right:thin silver solid;
    height:600px;
    width:200px;
}

#center {
    display:inline-block;
    height:600px;
}

#rightbar {
    float:right;
    display:inline;
    border-left:thin silver solid;
    height:600px;
    width:205px;
}

#footer {
    float:left;
    clear:both;
    display:block;
    border-top:thin silver solid;
}

.auto-style2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	color: #35485B;
	margin:0px 0px 0px 10px;
}
.auto-style3 {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-style: italic;
	font-size: medium;
	color: #35485B;
	font-weight: normal;
}

#clear	{
	margin-left:20px;
}